/* ==== GENERAL STYLES ==== */

* {
    box-sizing: border-box;
  }
  
  /* ==== ALL LINKS ==== */
  
  nav {
    background: #EEEEEE;
  }
  
  .navbutton {
    display: block;
    font-family: Anton, sans-serif;
    font-size: 1.4rem;
    text-align: center;
    color: #C74F78;
    line-height: 3rem;
    height: 3rem;
    text-decoration: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-bottom: 1px solid #CCCCCC
  }
  
  .navbutton:hover {
    background: white;
    transition: all 0.3s ease-in-out
  }
  
  #active {
    background: #C74F78;
    color: white
  }
  
  @media (min-width: 600px) {
  
    .navbutton {
      width: 8.53rem;
      border-bottom: none
    }
  
    nav li {
      display: inline-block;
    }
    nav {
      font-size: 0;
      padding: 0 3rem;
      
    }
  
  }